<h1>修改个人设置</h1>

<div class="form">
	<% form_for @user, :url => account_path do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => "form", :object => f %>
	  <%= f.submit "保存" %>
	<% end %>
</div>

